body {
	background-color: black;
}

hr {
	border-style: solid;
	color: purple;
	border-width: 3px;
	height: 0px;
}

h1 {
	color: purple;
	font-family: 'Shrikhand', cursive;
	font-size: 70px;
	height: 30px;
	letter-spacing: 3px;
 }

 h3{
 	color: white;
 	font-family: 'Viga', sans-serif;
 	letter-spacing: 3px;
 }

 img{

 	height: 200px;
 	border-style: solid;
 	border-size: 3px;
 	border-color: purple;
  }

  p {
  	font-family: 'Viga', sans-serif;
  	color: white;

  }

li{
	color: white;
	font-family: 'Viga', sans-serif;
}

th{
	color: white;
	font-family: 'Viga', sans-serif;
}

td{
	color: white;
	font-family: 'Viga', sans-serif;
}

table + h3 {
	background-color: purple;
	font-family: 'Viga', sans-serif;
}
 
label {
	color: white;
	font-family: 'Viga', sans-serif;
}

input {
	background-color: black;
	color: white;
}

textarea {
	background-color: black;
	color: white;
}